body 
{
    background-color: gray;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}
    
body
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    height: 100vh;
    gap: 27vh; 
}
    
@keyframes rotate
{
    0% {transform: rotate(0deg);}
    20% {transform: rotate(90deg);}
    40% {transform: rotate(-180deg);}
    60% {transform: rotate(270deg);}
    80% {transform: rotate(-360deg);}
    100% {transform: rotate(0deg);}
}

#cont 
{
    width: 13%;
    height: auto;
    position: relative;
    animation: rotate 6s infinite;
}

#log
{
    width: 100%;
    border-radius: 50%;
    z-index: 2;

}


.knife 
{
    background-color: blue;
    height: 25vh;
    width: 1vw;
    z-index: 1;
}

.knife.invisible
{
    display: none;
}

@keyframes launch
{
    0% {transform: translateY(0);}
    100% {transform: translateY(-10vh);}
}

.knife.launched
{
    animation: launch 0.1s forwards;
}